.border {
    border: #d9d8d8 1px solid;
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(241, 241, 241, 0.61);
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.84);
}

.normal_input {
    height: 18px;
    padding: 1px 5px;
    border-radius: 2px;
    border: 1px solid gray;
}

.input_block button {
    height: 22px;
    border: 1px solid #b0afaf;
    border-radius: 2px;
    background-color: rgba(182, 245, 186, 0.77);
}

.list {
    margin-left: -35px;
}

.list li span {
    margin-left: 10px;
}

.list li button {
    display: flex;
    float: right;
    background-color: rgba(255, 214, 214, 0.49);
    border: 1px solid #b0afaf;
    border-radius: 2px;
}

.list li {
    list-style: none;
    line-height: 25px;
}

.normal_button {
    margin-left: 5px;
}

.chosen_button {
    border: 1px solid #275203;
    border-radius: 2px;
    background-color: rgba(56, 108, 12, 0.3);
    box-shadow: 0 0 9px rgba(166, 248, 43, 0.9);
    margin-left: 5px;
}

h3 {
    color: green;
    text-align: center;
}

.title {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title__button button {
    border-radius: 2px;
    background-color: rgba(255, 214, 214, 0.49);
    border: 1px solid gray;
    text-align: center;
    padding: 5px 10px;
}

.h3blue {
    color:rgb(2, 78, 78);
    text-shadow: 2px 2px aqua;
}

.filter {
    text-align: center;
}

.is_done {
    opacity: 0.5;
}

.error {
    border: 1px solid red;
    border-radius: 2px;
}

.error_message {
    color: red;
}



